*{
    padding: 0px;
    margin: 0px;
}

html {
  scroll-behavior: smooth;
}

:root {
    background: rgb(41, 58, 78);
}

p, h1, h2, h3, h4, h5 {
    pointer-events: none;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mainpage {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin-top: 50px;
    border-radius: 40px;
    width: 100%;
    max-width: 1000px;
    border: none;
    position: absolute;
}

.backgroundPic {
    border-radius: 40px 40px 0 0;
    border: none;
}

.settings {
    border: none;
    background: rgb(22, 35, 51);
    border-radius: 0px 0px 40px 40px;
    margin-bottom: 100px;
}

.firstSettingContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.firstSettingContainer2{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.firstSettingContainerRow{
    display: flex;
    flex-direction: row;
    gap: 10px;

}



.pad {
    position: relative;
    background-image: radial-gradient( rgb(207, 205, 53),  rgb(206, 103, 146));
    width: 100%;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12.5% 0px; /* 1:1 Aspect Ratio */
  }
  
  .pad::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: radial-gradient(rgb(230, 127, 170), rgb(231, 228, 46) );
    z-index: -1;
    border-radius: 20px;
    transition: opacity 0.5s linear;
    opacity: 0;
  }
  
  .pad:hover::before {
    opacity: 1;
  }


  .pad2 {
    position: absolute;
    background: rgba(69, 201, 69, 0.7);
    width: 100%;
    height: 100%;
    border-radius: 20px;
    transition: 1s;
  }

  .pad3 {
    position: relative;
    background-image: radial-gradient( rgb(207, 205, 53),  rgb(206, 103, 146));
    width: 100%;
    border-radius: 20px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12.5% 0px; /* 1:1 Aspect Ratio */
  }


  


  .voicingField {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
    margin-top: 10px;
  }

  .voicingField2 {
    text-align: left;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid white;
    border-radius: 5px;
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 0px;
    position: relative;
    margin-top: 10px;
  }

  .legend {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    background: rgb(22, 35, 51);
    border: 1px solid white;
    padding: 5px 15px;
    border-radius: 8px;
    pointer-events: none;
  }

  .random {
    opacity: 0.7;
    rotate: 0deg;
  }

  .random:hover {
    opacity: 1;
  }

  .random-active {
    opacity: 0.7;
    rotate: 0deg;
    animation-name: randomClick;
    animation-duration: 1s;
    pointer-events: none;
  }


  @keyframes randomClick {
    from{
      rotate: 0deg;
    }
    to {
      rotate: -360deg;
    }
  }

  .download {
    opacity: 0.7;
    rotate: 0deg;
  }

  .download:hover {
    opacity: 1;
  }

  .download-active {
    opacity: 0.7;
    animation-name: downloadClick;
    animation-duration: 0.5s;
    pointer-events: none;
  }


  @keyframes downloadClick {
    0%{
      scale: 1;
    }
    50%{
      scale: 1.1;
    }
    100%{
      scale: 1;
    }
  }

  .likeanimation{
    position: absolute;
    left: 59%;
    animation-name: likeAnim;
    animation-duration: 2s;
    animation-fill-mode: forwards;
  }

  @keyframes likeAnim {
    0%{
      top: -15px;
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      top: -30px;
      opacity: 0;
    }
  }





  .play1 {
    filter: brightness(1);
    width: 30px;
    height: 30px;
  }

  .play1:hover {
    filter: brightness(1.5);
  }

  .stop1 {
    filter: brightness(1);
    width: 30px;
    height: 30px;
    scale: 1;
  }

  .stop1:hover {
    filter: brightness(1.5);
  }

  .play {
    filter: brightness(1);
  }

  .play:hover {
    filter: brightness(1.5);
    transition: 0.7s;
  }

  .like {
    filter: brightness(1);
  }

  .like:hover {
    filter: brightness(1.5);
  }

  .like-active {
    animation-name: likeAnim2;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
  }

  @keyframes likeAnim2 {
    0%{
      scale: 1;
    }
    50%{
      scale: 1.2;
    }
    100%{
      scale: 1;
    }
  }

  .playsvg {

  }


  .playStopAnim {
    fill: transparent;
  }

  .playStopAnim-active {
    stroke: rgb(34, 228, 89);
    font-size: 150px;
    font-family: 'Caveat Brush', cursive;
    stroke-width: 15px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: transparent;
    animation: dash linear infinite;
  }
  
  
  @keyframes dash {
  
    from {
      stroke-dashoffset: 1000;
      stroke: rgb(28, 206, 78);
    }
  
    to {
      stroke-dashoffset: 500;
      stroke: rgb(28, 206, 78);
    }
   
  }



  .saves {
    background: orange;
  }

  .w1 {
    width: 25px;
  }

  .w2 {
    width: 60px;
  }

  .w3 {
    width: 110px;
  }

  .w4 {
    width: 60px;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .col{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .g10{
    gap: 10px;
  }

  .g20{
    gap: 20px;
  }


.selector {
    background: rgb(255, 174, 177);
    border: none;
    color: black;
    padding: 5px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.selector2 {
    background: rgba(255,255,255,0.01);
    border: none;
    color: black;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    z-index: 10;
}

.selector2 > option {
    background: rgb(255, 174, 177);
}

.selector3 {
    background: rgba(255,255,255,0.01);
    border: none;
    color: white;
    padding: 5px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
}

.selector3 > option {
    background: rgb(22, 35, 51);
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #ffffff;
    outline: none;

  }

  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ff9da1;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ff9da1;
    cursor: pointer;
  }